<!DOCTYPE html>
<html>
<head>
<title>Upload Notes</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="upload-container">

<h2>📚 Upload Notes</h2>

<form method="POST" enctype="multipart/form-data">

<input type="text" name="title" placeholder="Enter Title" required>

<textarea name="content" placeholder="Enter Notes (optional)"></textarea>

<input type="file" name="file">

<button type="submit">Upload</button>

</form>

</div>

</body>
</html>