<!DOCTYPE html>
<html>
<head>
<title>My Attendance</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h2>📊 My Attendance</h2>

<div style="text-align:center; margin-bottom:20px;">
    <a href="/attendance-summary" class="btn">📊 View Summary</a>
</div>

<div class="attendance-container">

{% for a in data %}
<div class="attendance-card">

<p><strong>Name:</strong> {{a[0]}}</p>
<p><strong>Roll No:</strong> {{a[1]}}</p>
<p><strong>Branch:</strong> {{a[2]}}</p>
<p><strong>Year:</strong> {{a[3]}}</p>
<p><strong>Date:</strong> {{a[4]}}</p>
<p><strong>Status:</strong> {{a[5]}}</p>

</div>
{% endfor %}

</div>

</body>
</html>